body, body *{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.menu__logo{
    font-size: 1.5rem;
}

.newsletter__contenido h1 {
    font-size: 2rem;
}

.newsletter__group button {
    font-size: 1rem;
    font-weight: normal;
}