body {
    font-family: 'Roboto Mono', monospace;
}

.menu__logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.newsletter__contenido h2 {
    font-size: 1.5rem;
}

.newsletter__group input, .newsletter__group button {
    font-size: .8rem;
}