//Extra small and small devices
@media only screen and (max-width: 767.98px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    //Etiqueta nav - barra de navegación
    .menu {
        border-bottom: 1px solid gray;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: .5rem;

        &__logo {
            text-transform: uppercase;
        }
    }
    
    .menu__nav ul {
        list-style: none;
    }

    .menu__nav ul li {
        display: inline;
    }
    
    .menu__nav {
        &--link {
            text-transform: uppercase;
            text-decoration: none;
            display: inline;
        }

        &--input {
            border-radius: 30px;
            display: inline;
            width: 8rem;
        }
    }

    .link {
        display: none;
    }

    //Etiqueta main - contenido
    .contenido {
        margin: 4rem .5rem .5rem .5rem;
    }

        //Etiqueta section - noticias
        .noticias__nota {
            cursor: pointer;
        }

        .noticias__nota--cuerpo img {
            width: 100vw;
            height: 40vh;
            margin-top: 1rem;
        }

        .noticias__nota--cuerpo p {
            padding: 1rem;
            margin-bottom: 1rem;
        }

        //Etiqueta aside - informacion
        .informacion {
            display: none;
        }

    //Etiqueta section - newsletter
    .newsletter {
        background-color: #f2f4f5;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .newsletter__contenido h1 {
        line-height: 1;
    }

    .newsletter__contenido p {
        margin: 2rem 0 1rem 0;
    }
    
    .newsletter__group input,
    .newsletter__group button {
        border-width: 0;
        height: 2rem;
    }

    .newsletter__group input {
        width: 14rem;
    }

    .newsletter__group button {
        width: 7rem;
    }
    
    .newsletter__group button {
        background-color: coral;
        color: white;
    }

    //Etiqueta footer - footer
    .footer {
        text-align: center;
        margin: 1rem 0 4rem 0;
    }
}   




//Medium, large and extra large devices
@media only screen and (min-width: 768px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        line-height: 1;
    }

    //Etiqueta nav - barra de navegación
    .menu {
        border-bottom: 1px solid gray;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: 1rem;

        &__logo {
            text-transform: uppercase;
        }
    }
    
    .menu__nav ul {
        list-style: none;
    }
    
    .menu__nav ul li {
        display: inline-block;
    }
    
    .menu__nav{
        &--link {
            text-transform: uppercase;
            text-decoration: none;
            display: block;
        }

        &--input {
            border-radius: 30px;
            display: block;
        }
    }
    
    //Etiqueta main - contenido
    .contenido{
        display: grid;
        grid-template-columns: 3fr 1.1fr;
        grid-gap: 1rem;
        margin: 5rem 4rem 3rem 4rem;
    }
    
        //Etiqueta section - noticias
        .noticias{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: 1rem;

            &__nota {
                cursor: pointer;
            }
        }
        
        .noticias__nota--cabecera h2 {
            margin-bottom: 1rem;
        }

        .noticias__nota--cuerpo img {
            width: 100%;
            height: 70vh;
        }

        .noticias__nota--cuerpo p {
            text-align: justify;
            margin-top: 1rem;
        }

        //Etiqueta aside - informacion
        .informacion {
            margin-left: 2rem;

            &__cabecera {
                border-bottom: 1px solid gray;
            }

            &__tags {
                border-bottom: 1px solid gray;
                margin: 1rem 0;
            }

            &__destacados--item {
                margin-top: 1rem;
            }
        }

        .informacion__cabecera p{
            margin: 1rem 0;
        }

        .informacion__tags ul {
            list-style: none;
            text-align: right;
            margin: 1rem;
        }

        .informacion__tags ul li {
            display: inline-block;
            background-color: steelblue;
            color: white;
            padding: .2rem;
            margin-bottom: .5rem;
        }

        .informacion__destacados--item h4{
            margin-bottom: 1rem;
        }

        .informacion__destacados--item img{
            width: 100%;
            height: 40vh;
        }

    //Etiqueta section - newsletter
    .newsletter {
        background-color: #f2f4f5;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    
    .newsletter__contenido p {
        margin: 2rem 0 1rem 0;
    }
    
    .newsletter__group input,
    .newsletter__group button {
        border-width: 0;
        height: 2rem;
    }
    .newsletter__group input {
        width: 14rem;
    }
    .newsletter__group button {
        width: 7rem;
    }
    
    .newsletter__group button {
        background-color: coral;
        color: white;
    }

    //Etiqueta footer - footer
    .footer {
        text-align: center;
        margin: 1rem 0;
    }
}

