.noticias__nota {
    width: 13rem;
    display: inline-block;
    margin: 0.3rem;
    cursor: pointer;
}

.noticias__nota--cuerpo p {
    padding: 5px 10px;
}

/*--------------------------------------*/

.informacion__cabecera {
    text-align: justify;
    border-bottom: 1px solid gray;
}

.informacion__tags {
    border-bottom: 1px solid gray;
}

.informacion__tags ul {
    list-style: none;
}

.informacion__tags ul li {
    display: inline;
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}