.menu {
    border-bottom: 1px solid gray
}

.menu__logo {
    text-transform: uppercase; //Transforma los carácteres a mayúscula
}

.menu__nav {
    text-align: right;
}

.menu__nav ul li {
    display: inline;
}

.menu__nav--link {
    text-transform: uppercase;
    text-decoration: none;
}

.menu__nav--input {
    border-radius: 30px;
}