.newsletter {
    background-color: #f2f4f5;
    text-align: center;
}

.newsletter__group input,
.newsletter__group button {
    border-width: 0;
}

.newsletter__group button {
    background-color: coral;
    color: white;
}